body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: radial-gradient(circle, rgb(131, 189, 50) 0%, rgba(2,91,3,1) 100%);
}

.h2-1 {
  font-size: 30px;
}

.di-01 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.id01 {
  font-size: 18px;
  font-weight: 600;
}

input[type='number'] {
  border-radius: 13px;
  padding: 5px;
  width: 50px;
  background: rgb(131, 189, 50);
  font-size: 17px;
  margin: 7px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.h2-2 {
  font-size: 25px;
}

#informacoes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

#informacoes label {
  color: #000;
  opacity: .9;
  cursor: pointer;
  font-weight: 600;
}

#informacoes label:hover {
  color: rgb(16, 196, 0);
  text-decoration: underline;
  font-size: 17px;
  transition: .6s;
}

form label {
  padding-left: 20px;
}

hr {
  color: #122e12;
  border: 1.9px solid;
}

.hr1 {
  width: 75%;
}

.hr2 {
  width: 80%;
}

#btt button {
  width: 90px;
  height: 32px;
  border-radius: 13px;
  margin: 3px 8px;
  cursor: pointer;
  background: rgb(131, 189, 50);
}

#btt button:hover {
  background: rgb(17, 153, 19);
  transition: .4s;

}

.result-style {
  display: flex;
  text-align: left;
  width: 65%;
  margin: auto;
  margin-top: 30px;
  border-radius: 20px;
  box-shadow: 0 5px 30px rgb(0 0 0 / 0.7);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-sizing: border-box;
}

img {
  max-height: 230px;
  padding-right: 20px;
  border-radius: 20px;
}