form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#informacoes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

input[type='number'] {
  padding: 5px;
  width: 50px;
}

label {
  color: rgb(102, 102, 102);
  opacity: .9;
  cursor: pointer;
}

label:hover {
  color: black;
  text-decoration: underline;
  font-size: 17px;
}

form label {
  padding-left: 20px;
}

hr {
  width: 50%;
  
}

.result-style {
  display: flex;
  text-align: left;
  width: 80%;
  margin: auto;
  margin-top: 30px;
  border-radius: 20px;
  box-shadow: 0 5px 30px rgb(0 0 0 / 0.7);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-sizing: border-box;
}

img {
  max-height: 200px;
  padding-right: 20px;
  border-radius: 20px;
}